<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial;
            background-image: url(@Url.Content("~/TCBI-static/assets/bg.jpg"));
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>